$nav-background-color: lightseagreen;
$nav-highlight-color: rgb(28, 131, 126);
$nav-text-color: white;
$nav-bottom-edge-color: black;

$page-background: rgb(140, 231, 227);
$text-primary: #885500;

// font-family: 'Bree Serif', serif;
// font-family: 'Exo', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Signika', sans-serif;