@import "globals";

body {
    font-family: "Exo", sans-serif;
}

nav.menu {
    font-family: "Exo", sans-serif;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;

    background-image: url(../../assets/paperless_app_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 4rem;
    background-color: lightseagreen;

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;
            flex: 1 0 auto;
            text-align: center;

            a {
                display: block;
                padding: 0.6em 1em;
                color: white;
                text-decoration: none;
                background-color: lightseagreen;
            }
            a:hover {
                background: rgb(28, 131, 126);
            }
        }
    }
}

main.main {
    padding: 10px;
    clear: both;
    background-color: $page-background;
}

// font-family: 'Bree Serif', serif;
// font-family: 'Exo', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Signika', sans-serif;
