@import "globals";

body {
    font-family: "Exo", sans-serif;
}

nav.menu {
    font-family: "Exo", sans-serif;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $nav-bottom-edge-color;

    background-image: url(../../assets/paperless_app_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 4rem;
    background-color: $nav-background-color;

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;
            flex: 1 0 auto;
            text-align: center;

            a {
                display: block;
                padding: 0.6em 1em;
                color: $nav-text-color;
                text-decoration: none;
                background-color: $nav-background-color;
            }
            a:hover {
                background: $nav-highlight-color;
            }
        }
    }
}

main.main {
    padding: 10px;
    clear: both;
    background-color: $main-background;
}
